<div class="card">
    <div class="card-body">
        <h2 class="card-title">Modelaje</h2>



        <form (ngSubmit)="onSubmit()">
            <ul class="list-group mt-3">
                <li class="list-group-item mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Función Objetivo</h3>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-2" style="margin-top: 0.2rem;">
                            <h4>{{objetivo}} Z = </h4>

                        </div>
                        <div class="col-sm-2 mb-2 d-flex align-items-center"
                            *ngFor="let variable of variables; let i = index;let isLast = last">
                            <input type="number" class="form-control" [(ngModel)]="variable.multiplicador"
                                name="variable{{i}}" placeholder="0" value="0">
                            <label class="form-label">x<sub>{{i+1}}</sub></label>
                            <label class="form-label" *ngIf="!isLast"> +</label>

                        </div>
                    </div>
                </li>

                <li class="list-group-item mb-3" *ngFor="let restriccion of restricciones;let i=index;">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Restricción {{i+1}}</h3>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-2 mb-2 d-flex align-items-center"
                            *ngFor="let valor of restriccion.valores; let j = index;let isLast = last">
                            <input type="number" class="form-control" [(ngModel)]="valor.multiplicador"
                                name="restriccion{{j}}" placeholder="0" value="0">
                            <label class="form-label">x<sub>{{j+1}}</sub></label>
                            <label class="form-label" *ngIf="!isLast"> +</label>

                        </div>
                        <div class="col-sm-1 mb-2 d-flex align-items-center">
                            <select class="form-select" [(ngModel)]="restriccion.operador" name="operador{{i}}">
                                <option value="<=">&#8804;</option>
                                <option value=">=">&#8805;</option>
                                <option value="=">=</option>
                            </select>
                        </div>
                        <div class="col-sm-2 mb-2 d-flex align-items-center">
                            <input type="number" class="form-control" [(ngModel)]="restriccion.resultado"
                                name="resultado{{i}}" placeholder="0" value="0">
                        </div>
                    </div>

                </li>

                <li class="list-group-item mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>No negatividad</h3>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="d-flex align-items-center ml-3">
                            <div *ngFor="let variable of variables; let i = index; let isLast = last">
                                <label class="label-negatividad" *ngIf="!isLast">{{variable.id}}, </label>
                                <label class="label-negatividad" *ngIf="isLast">{{variable.id}} >= 0</label>
                            </div>
                        </div>
                    </div>
                </li>



            </ul>

            <div class="row mt-3 justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg col-4">Calcular</button>
            </div>
        </form>
    </div>

</div>



<div class="mt-5" *ngIf="modelajeAprobado">
    <app-simplex [variables]="variables" [restricciones]="restricciones" [objetivo]="objetivo"></app-simplex>
</div>

<br>
<br>