h2 {
    color: black;
    font-weight: bold;
}

h3 {
    color: #e1e6eb;
    opacity: 0.9;
}

h4 {
    color: #e1e6eb;
    opacity: 0.8;

}

p{
    color: #e1e6eb;
    opacity: 0.7;

}

.card {
    border: none;
    background-color: hsl(206, 29%, 15%);
    // box-shadow: 0 5px 20px 0 rgba(16, 149, 193, 0.8);
}

.card-title {
    color: #e1e6eb;
}

.list-group-item {
    background-color: hsl(206, 29%, 15%);
     border-color: black;
     border-width: 0.2rem;
     border-top: none;
     border-left: none;
     border-right: none;
    color: #e1e6eb;
    text-align: center;
}

.table{
    background-color: hsl(206, 29%, 15%) !important;
    color: #e1e6eb;
}

div.table{
    background-color: hsl(206, 29%, 15%) !important;
    color: #e1e6eb;
}
