<div class="card">
    <div class="card-body">
        <h2 class="card-title">Simplex</h2>
        <ul class="list-group mt-3">
            <li class="list-group-item mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Solucion óptima</h3>
                    </div>
                </div>
                <div class="row mt-4" *ngIf="!hayInfinidad">
                    <div class="col-sm-2 mb-2">
                        <h4>Z = {{resultados[0]}}</h4>
                    </div>
                    <div class="col-sm-2 mb-2" *ngFor="col of idColumnas; let i = index;let isLast = last">
                        <h4 *ngIf="idFilas.indexOf(idColumnas[i])!==-1 && !isLast"> {{idColumnas[i]}} =
                            {{resultados[idFilas.indexOf(idColumnas[i])]}}*</h4>
                        <h4 *ngIf="idFilas.indexOf(idColumnas[i])===-1  && !isLast"> {{idColumnas[i]}} = 0</h4>

                    </div>
                </div>
                <div class="row mt-4" *ngIf="hayInfinidad">
                    <div class="col-sm-12 mb-2">
                        <h4>El problema tiene solución no acotada (infinita)</h4>
                    </div>
                </div>
            </li>

            <li class="list-group-item mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Matriz Inicial</h3>
                    </div>

                </div>
                <div class="row mt-4 table-responsive">
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr>
                                <th scope="col">i</th>
                                <th scope="col">BVS</th>
                                <th scope="col" *ngFor="let col of idColumnasInicial">{{col}}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let fila of inicialMatrix; let i = index">
                                <th scope="row">{{i}}</th>
                                <th scope="row">{{idFilasInicial[i]}}</th>
                                <td *ngFor="let col of fila">{{col}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>


            <li class="list-group-item mb-3" *ngFor="let it of iteraciones;let i = index">
                <div class="row" style="margin-right: 4.5rem;">
                    <div class="col-md-3">
                        <h3>
                            {{mensajes[i]?mensajes[i]:''}}
                        </h3>
                        <h3 >Iteración {{i+1}}:</h3>
                       
                    </div>
                    <div class="col-md-3" *ngIf="mensajes[i]===''">
                        <p>Entró {{entrantes[i-nArtificiales]}}, salió {{salientes[i-nArtificiales]}}</p>
                    </div>
                </div>
                <div class="row mt-4 table-responsive">
                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr >
                                <th scope="col">i</th>
                                <th scope="col">BVS</th>
                                <th scope="col" *ngFor="let col of idColumnasIteraciones[i]">{{col}}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let fila of it; let j = index">
                                <th scope="row">{{j}}</th>
                                <th scope="row">{{idFilasIteraciones[i][j]}}</th>
                                <td *ngFor="let col of fila">{{col}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </li>


        </ul>

    </div>